<!-- Titulo e imagen -->
<section class="breadcrumb-section set-bg" data-setbg="/WebItems/img/banner.JPG">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Blog</h2>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Titulo e imagen fin -->

<!-- Blog Section Begin -->
<section class="blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <div class="blog__sidebar">
                   
                 
                    <div class="blog__sidebar__item">
                        <h4>Noticias Recientes</h4>
                        <div class="blog__sidebar__recent">
                                <div class="blog__sidebar__recent__item__pic">
                                    <img src="~/WebItems/img/imgBlog/noticia1.jpg" width="100" height="55">
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <h6>Llega el repuesto inteligente<br /> Sensores y microchips</h6>
                                    <span>MAR 05, 2019</span>
                                </div>
                            
                                <div class="blog__sidebar__recent__item__pic">
                                    <img src="~/WebItems/img/imgBlog/noticia2.jpg" width="100" height="55">
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <h6>Repuestos económicos<br /> Calidad a precios accesibles</h6>
                                    <span>MAR 05, 2019</span>
                                </div>
                                <div class="blog__sidebar__recent__item__pic">
                                    <img src="~/WebItems/img/imgBlog/noticia3.png" width="100" height="55">
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <h6>Repuestos universales <br />Nuevo articulo</h6>
                                    <span>MAR 05, 2019</span>
                                </div>
                            
                        </div>
                    </div>
                    <div class="blog__sidebar__item">
                        <h4>Search By</h4>
                        <div class="blog__sidebar__item__tags">
                            <a href="#">Baterías</a>
                            <a href="#">Filtros de aire</a>
                            <a href="#">Frenos</a>
                            <a href="#">Neumáticos</a>
                            <a href="#">Alternadores</a>
                            <a href="#">Suspensión</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src= "/WebItems/img/imgBlog/bateria.jpg"width="255" height="255">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a href="#">Las baterías de automóviles son esenciales y suelen necesitar reemplazo cada pocos años.</a></h5>
                                <p>
                                    Las baterías de automóviles suelen durar entre 3 y 5 años. Sin embargo, esto puede variar dependiendo de la marca, calidad y condiciones de uso. Un mantenimiento adecuado y la carga regular pueden extender su vida útil.
                                </p>

                                <a href="/Views/Store/ViewBlog.cshtml" class="blog__btn">READ MORE <span class="arrow_right"></span></a>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="~/WebItems/img/imgBlog/filtrodeAire.jpg" width="255" height="255">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a href="#">Los filtros de aire se deben cambiar regularmente para mantener el rendimiento del motor y la eficiencia del combustible.</a></h5>
                                <p>
                                    Suelen tener una vida útil de entre 15,000 y 30,000 kilómetros
                                </p>
                                <a href="#" class="blog__btn">READ MORE <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="~/WebItems/img/imgBlog/frenos.jpg" width="255" height="255">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a href="#">Los componentes del sistema de frenos, como las pastillas y discos de freno, son piezas que sufren desgaste y necesitan ser reemplazadas con el tiempo.</a></h5>
                                <p>
                                    Las pastillas de freno pueden durar entre 30,000 y 70,000 kilómetros, mientras que los discos de freno pueden durar entre 80,000 y 120,000 kilómetros.
                                </p>
                                <a href="#" class="blog__btn">READ MORE <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="~/WebItems/img/imgBlog/neumaticos.jpg" width="255" height="255">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a href="#">Los neumáticos son esenciales para la seguridad y el rendimiento del vehículo, y se deben reemplazar cuando están gastados o dañados.</a></h5>
                                <p>
                                    Los neumáticos de buena calidad pueden durar entre 40,000 y 80,000 kilómetros. Sin embargo, es esencial revisar regularmente la presión de los neumáticos,
                                    realizar rotaciones y alineaciones, y estar atento al desgaste de la banda
                                </p>
                                <a href="#" class="blog__btn">READ MORE <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="~/WebItems/img/imgBlog/alternador.jpg" width="255" height="255">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a href="#">Los alternadores generan electricidad para cargar la batería del automóvil y alimentar los sistemas eléctricos.</a></h5>
                                <p>
                                    Los alternadores suelen tener una vida útil de alrededor de 7 a 10 años. Sin embargo, esto puede variar según la calidad del componente y las condiciones de uso.
                                </p>
                                <a href="#" class="blog__btn">READ MORE <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="~/WebItems/img/imgBlog/suspencion.jpg" width="c" height="255">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a href="#">Los amortiguadores y otros componentes de la suspensión ayudan a mantener la comodidad de conducción y el control del vehículo. </a></h5>
                                <p>
                                    En general, los amortiguadores pueden durar entre 80,000 y 160,000 kilómetros.
                                </p>
                                <a href="#" class="blog__btn"  onclick="showModal('modal1');"; >READ MORE <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<center>
    <div id="modal1" class="modal">
        <div class="modal-content">
            <span class="close" onclick="hideModal('modal1');">&times;</span>
            <h2>Título del tema 1</h2>
            <p>Información detallada sobre el tema 1.</p>
        </div>
    </div>
</center>

<script>
    // Función para mostrar el modal
    function showModal(modalId) {
        var modal = document.getElementById(modalId);
        modal.style.display = "block";
    }

    // Función para ocultar el modal
    function hideModal(modalId) {
        var modal = document.getElementById(modalId);
        modal.style.display = "none";
    }
</script>
<!-- Blog Section End -->
