  <!-- Hero Section Begin -->
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Secciones</span>
                    </div>
                    <ul>
                        <li><a href="#">Repuestos</a></li>
                        <li><a href="#">Accesorios</a></li>
                        <li><a href="#">Automoviles</a></li>
                        <li><a href="#">Motocicletas</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            <div class="hero__search__categories">
                                Categorías
                                <span class="arrow_carrot-down"></span>
                            </div>
                            <input type="text" placeholder="¿Qué necesita?">
                            <button type="submit" class="site-btn">Buscar</button>
                        </form>
                    </div>

                </div>
                <div class="hero__item set-bg" data-setbg="/WebItems/img/product/auto.jpg">
                    <div class="hero__text">
                        <span>Repuestos para todo tipo de vehículo</span>
                        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                        <a href="#" class="primary-btn">Comprar ahora</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
<!-- Categories Section Begin -->
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="/WebItems/img/product/llantas.jpg">
                        <h5><a href="#">Llantas</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="/WebItems/img/product/motor.png">
                        <h5><a href="#">Motores</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="/WebItems/img/product/baterias.jpg">
                        <h5><a href="#">Baterías</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="/WebItems/img/product/pintura.jpg">
                        <h5><a href="#">Pintura</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="/WebItems/img/product/carroceria.jpg">
                        <h5><a href="#">Carrocería</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->
<!-- Featured Section Begin -->
<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Productos destacados</h2>
                </div>
                <div class="featured__controls">
                    <ul>
                        <li class="active" data-filter="*">Todos</li>
                        <li data-filter=".pinturas">Pinturas</li>
                        <li data-filter=".baterias">Baterías</li>
                        <li data-filter=".llantas">Llantas</li>
                        <li data-filter=".accesrios">Accesorios</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row featured__filter">
            <div class="col-lg-3 col-md-4 col-sm-6 mix">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="/WebItems/img/product/llanta-turanza.jpeg">
                        <ul class="featured__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="#">LLantas Bridgeston</a></h6>
                        <h5>₡250000</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="/WebItems/img/product/bateria-Gohner.jpg">
                        <ul class="featured__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="#">Batería Gohner</a></h6>
                        <h5>₡50000</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="/WebItems/img/product/Pintura-Gris.jpg">
                        <ul class="featured__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="#">Pintura Gris</a></h6>
                        <h5>₡35000</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix fastfood oranges">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="/WebItems/img/product/radio-automovil.jpg">
                        <ul class="featured__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="#">Radio con Bluetooth</a></h6>
                        <h5>₡25000</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





