
@{
    ViewBag.Title = "ViewBlog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="blog spad">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="blog__item">
            <div class="blog__item__pic">
                <img src="/WebItems/img/imgBlog/bateria.jpg" width="255" height="255">
            </div>
            <div class="blog__item__text">
                <ul>
                    <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                    <li><i class="fa fa-comment-o"></i> 5</li>
                </ul>
                <h5><a href="#">Las baterías de automóviles son esenciales y suelen necesitar reemplazo cada pocos años.</a></h5>
                <p>
                    Las baterías de automóviles suelen durar entre 3 y 5 años. Sin embargo, esto puede variar dependiendo de la marca, calidad y condiciones de uso. Un mantenimiento adecuado y la carga regular pueden extender su vida útil.
                </p>
               
            </div>
        </div>
    </div>
    </section>