<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tienda grupo 6</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->


    <link href="~/WebItems/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/WebItems/css/elegant-icons.css" rel="stylesheet" />
    <link href="~/WebItems/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/WebItems/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/WebItems/css/nice-select.css" rel="stylesheet" />
    <link href="~/WebItems/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/WebItems/css/slicknav.min.css" rel="stylesheet" />
    <link href="~/WebItems/css/style.css" rel="stylesheet" />


</head>
<body>
@RenderBody()



<!-- Footer Section End -->
<!-- Js Plugins -->
<script src="~/WebItems/js/jquery-3.3.1.min.js"></script>
<script src="~/WebItems/js/bootstrap.min.js"></script>
<script src="~/WebItems/js/jquery.nice-select.min.js"></script>
<script src="~/WebItems/js/jquery-ui.min.js"></script>
<script src="~/WebItems/js/jquery.slicknav.js"></script>
<script src="~/WebItems/js/mixitup.min.js"></script>
<script src="~/WebItems/js/owl.carousel.min.js"></script>
<script src="~/WebItems/js/main.js"></script>

</body>

</html>
